h1, h2, h3, p, a, span {
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: Graphik;
    src: url(..//fonts/Graphik-Regular-Web.eot);
    src: url(..//fonts/Graphik-Regular-Web.ttf);
    src: url(..//fonts/Graphik-Regular-Web.woff);
}
@font-face {
    font-family: Graphik-medium;
    src: url(..//fonts/graphik-medium-webfont.eot);
    src: url(..//fonts/graphik-medium-webfont.ttf);
    src: url(..//fonts/graphik-medium-webfont.woff);
}
@font-face {
    font-family: Graphik-semibold;
    src: url(..//fonts/Graphik-Semibold-Web.eot);
    src: url(..//fonts/Graphik-Semibold-Web.ttf);
    src: url(..//fonts/Graphik-Semibold-Web.woff);
}
.main-container {
    max-width: 100%;
    margin: 0 auto;
}
.header {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    height: 83px;
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 1000;
}
.header__left {
    width: 192px;
    height: 100%;
    background-color: #395aa8;
    box-shadow: 0 -2px 4px 0 rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}
.header__logo {
    display: block;
    width: 112px;
    height: 31px;
    background-color: red;
    background-image: url(..//images/group-31.png);
    background-repeat: no-repeat;
}
.header__right {
    width: 192px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-right: 17px;
}
.header__vid__play {
    width: 11px;
    height: 11px;
    padding-top: 1px;
    position: relative;
    color: #fff;
}
.header__vid__play::after {
    content: '';
    position: absolute;
    left: 0;
    border: 5px solid transparent;
    border-left: 11px solid #395aa8;
}
.header__vid__txt {
    margin: 0;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1.4px;
    color: #454545;
    padding-left: 4px;
    text-transform: uppercase;
}
.content-container {
    margin: 0 auto;
}
.content {
    max-width: 1056px;
    margin: 0 auto;
    height: 100%;
}
.block1 {
    position: relative;
    z-index: 100;
}
.block1__wrap {
    width: 100%;
    background-color: #f8f8f8;
}
.banner-top {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    height: 374px;
    background-image: url("..//images/ponytail-extended-fade.png");
    background-repeat: no-repeat;
    background-position: right;
}
.banner-top__block {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 83px 39px 0;
}
.banner-top__but {
    width: 242px;
    height: 60px;
    border-radius: 2px;
    border: solid 2px #395aa8;
    margin-left: 2px;
}
.banner-top__link {
    display: block;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1.2px;
    text-align: center;
    color: #395aa8;
}
.banner-top__title {
    width: 416px;
    font-family: 'Graphik-medium';
    font-size: 33px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.27;
    letter-spacing: normal;
    text-align: left;
    color: #395aa8;
}
.banner-top__txt {
    width: 416px;
    font-family: Graphik;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: 0.4px;
    text-align: left;
    color: #454545;
    padding-top: 5px;
    padding-bottom: 37px;
}
.block2__img {
    width: 48px;
    height: 46px;
    background-repeat: no-repeat;
    background-position: center;
}
.block2__img1 {
    background-image: url("..//images/group-10.png");
}
.block2__img2 {
    background-image: url("..//images/group-12.png");
}
.block2__img3 {
    background-image: url("..//images/group-13.png");
}
.block2__title {
    font-family: Graphik;
    font-size: 22px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.91;
    letter-spacing: normal;
    text-align: center;
    color: #454545;
    padding-top: 9px;
    padding-bottom: 4px;
}
.block2__txt {
    font-family: Graphik;
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.47;
    letter-spacing: normal;
    text-align: center;
    color: #454545;
}

.block2__txt__bot {
    font-family: Graphik;
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    line-height: 1.47;
    letter-spacing: normal;
    text-align: center;
    font-style: italic;
    color: #989898;
}
.block2-content {
    display: flex;
    flex-direction: row;
    padding: 39px 39px;
    justify-content: space-around;
}
.block2__wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.block3-content {
    width: 999px;
    height: 218px;
    border: 1px solid grey;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-top: 27px;
}
.block3__img {
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url("..//images/band-wrap-trans.png");
    background-repeat: no-repeat;
    background-position: center;
    z-index: 100;
}
.block3__background {
    position: absolute;
    right: 0;
    width: 522px;
    z-index: 10;
    height: 0;
    border-bottom: 217px solid #7ff8e1;
    border-left: 52px solid transparent;
}
.block3__txt1 {
    font-family: Graphik;
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.13;
    letter-spacing: 0.5px;
    text-align: left;
    color: #454545;
    z-index: 1000;
    padding-left: 5.1vw;
    width: 30%;
}
.block3__txt2 {
    z-index: 1000;
    font-family: Graphik;
    font-size: 15px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.47;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    padding-right: 4vw;
    width: 36%;
}
.block4-content {
    display: flex;
    flex-direction: row;
    margin: 0 28px;
    justify-content: space-between;
    margin-top: 9px;
}
.block4__img {
    width: 320px;
    height: 190px;
    background-position: center;
    background-repeat: no-repeat;
}
.block4__wrap {
    margin: 0;
    width: 32%;
}
.block4__img1 {
    background-image: url("..//images/group-7.png");
}
.block4__img2 {
    background-image: url("..//images/group-29.png");
}
.block4__img3 {
    background-image: url("..//images/group-6.png");
}
.block4__title {
    font-family: Graphik;
    font-size: 15px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: 0.3px;
    text-align: left;
    color: #454545;
    padding-top: 9px;
    padding-bottom: 2px;
    padding-left: 2px;
}
.block4__txt {
    font-family: Graphik;
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.47;
    letter-spacing: normal;
    text-align: left;
    color: #454545;
    padding-left: 2px;
}
.block5-content {
    display: flex;
    flex-direction: row;
    margin: 0 27px;
    justify-content: space-between;
    margin-top: 70px;
}
.block5__left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.block5__left1 {
    width: 320px;
    height: 240px;
    background-image: url("..//images/group-5.png");
}
.block5__left2 {
    width: 320px;
    height: 240px;
    background-image: url("..//images/group-30.png");
}
.block5__right {
    width: 660px;
    height: 498px;
    background-image: linear-gradient(162deg, #395aa8, #6b94d3);
    display: flex;
    flex-direction: column;
    align-content: center;
    padding: 0 8vw;
}
.block5__title1 {
    font-family: Graphik;
    font-size: 24px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.13;
    letter-spacing: 0.5px;
    text-align: left;
    color: #ffffff;
    padding-top: 96px;
    padding-bottom: 14px;
}
.block5__txt {
    font-family: Graphik;
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.4;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    padding-top: 14px;
}
.block5__title2 {
    font-family: Graphik;
    font-size: 15px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.4;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
}
.block6 {
    background-color: #f8f8f8;
}
.block6__left {
    width: 144px;
    height: 144px;
    background-image: url("..//images/robert-gamburd.png");
    margin-left: 7vw;
    margin-top: 8px;
}
.block6__sect {
    display: flex;
    flex-direction: row;
    padding-bottom: 91px;
}
.block6__right {
    width: 72%;
    padding-left: 89px;
}
.block6__title {
    font-family: Graphik;
    font-size: 26px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.23;
    letter-spacing: -0.4px;
    color: #454545;
    padding-top: 54px;
    text-align: center;
    position: relative;
    right: 38px;
    padding-bottom: 26px;
}
.block6__txt1 {
    font-family: Graphik;
    font-size: 18px;
    font-weight: normal;
    font-style: italic;
    font-stretch: normal;
    line-height: 1.67;
    letter-spacing: normal;
    text-align: left;
    color: #454545;
}
.block6__txt2 {
    font-family: Graphik;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: 1.5px;
    text-align: left;
    color: #454545;
    padding-top: 12px;
}
.block6__txt2 span {
    font-weight: 600;
}
.block6-content {
    margin-top: 122px;
}
